* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  --primaryColor: {{initParams.primaryColor}};
  --secondaryColor: {{initParams.secondaryColor}};
  --backgroundColor: {{initParams.backgroundColor}};
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--backgroundColor);
}
