* {
  --fontColor: {{ initParams.fontColor }};
  --primaryColor: {{ initParams.primaryColor }};
  --backgroundColor: {{ initParams.backgroundColor }};
  /*
    This is an example of how to use MotorCortex's init params in css, using a css variable
      if you are unfamiliar with css variables here is a quick guide https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties#basic_usage
  */
}

.container {
display: flex;
justify-content: space-around;
flex-direction: column;
align-items: flex-start;
height: 100%;
background-color:var(--backgroundColor);
font-family: 'Krona One', sans-serif;
}

.cta{

  color: var(--fontColor);
  padding: 6px 9px;
  font-size: 16px;
  line-height: 86%;
  top: 224px;
  left: 7px;
  cursor: pointer;
  text-decoration: underline;
}

.offer-bg-wrapper{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: fit-content;
  gap: 7px;
  -webkit-text-stroke: 0.5px var(--fontColor);
  color: transparent;
  text-transform: uppercase;
  overflow: hidden;
}

.offer-bg{
  white-space: nowrap;
}

.offer-bg1{
position: relative;
top: -100%;
}

.offer-bg2{
  position: relative;
  top: 100%;
}

.offer{
  line-height: 17px;
}

.offer-bg2{
  -webkit-text-stroke: 0.5px var(--primaryColor);
}

.image{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  width: 225px;
  height: 149px;
  
}

.pr-image{
  left: 50%;
  transform: translateX(-50%);
  top: 8%;
  position: absolute;
}

.pr-name-wrapper{
  height: 20px;
  position: relative;
  left: 7px;
  color: var(--primaryColor);
}

.pr-name{
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
}

.letter{
  opacity: 0;
}

.bottom-line{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  width: 100%;

}

.description-wrapper{
  position: relative;
  width: 60%;
  height: 60px;
  overflow: hidden;
}

.pr-description{
  position: absolute;
  font-size: 11px;
  line-height: 97%; 
  top: 0;
  padding: 0px 9px;
}