* {
  --fontColor: {{ initParams.fontColor }};
  --backgroundColor: {{ initParams.backgroundColor }};
  /*
    This is an example of how to use MotorCortex's init params in css, using a css variable
      if you are unfamiliar with css variables here is a quick guide https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties#basic_usage
  */
}

.container {
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
height: 100%;
background-color:var(--backgroundColor);
font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 700;
}

.text{
  color: var(--fontColor);
  font-size: 31px;
  line-height: 86%;
  position: absolute;
  width: 138px;
  height: 54px;
  text-align: end;
  left: -28px;
  transform: rotate(-90deg);
  top:150%;
}

.cta{
  position: absolute;
  background-color: var(--fontColor);
  color: var(--backgroundColor);
  padding: 6px 9px;
  font-size: 16px;
  line-height: 86%;
  top: 224px;
  left: 7px;
}

.offer-wrapper{
  position: absolute;
  left: 223px;
  font-size: 34px;
  line-height: 86%;
}

.offer{
  -webkit-text-stroke: 0.5px var(--fontColor);
  color: transparent;
}

.offer:nth-child(2){
  opacity: 0.9;
}
.offer:nth-child(3){
  opacity: 0.8;
}
.offer:nth-child(4){
  opacity: 0.7;
}
.offer:nth-child(5){
  opacity: 0.6;
}
.offer:nth-child(6){
  opacity: 0.5;
}
.offer:nth-child(7){
  opacity: 0.4;
}
.offer:nth-child(8){
  opacity: 0.3;
}
.offer:nth-child(9){
  opacity: 0.2;
}
.offer:nth-child(10){
  opacity: 0.1;
}

.image{
  position: absolute;
  left: 82px;
  width: 135px;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
