* {
  --image-positioning: {{ initParams.imagePositioning }};
  --cta-color: {{ initParams.ctaColor }};
  --text-color: {{ initParams.textColor }};
  --image-bg-color: {{ initParams.imageBgColor }};
  --text-bg-color: {{ initParams.textBgColor }};
  --product-text-color: {{ initParams.productTextColor }};

  /* --font: {{ initParams.font.name }};
  font-family: var(--font); */
  font-family: "Eczar", serif;
}


.container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100%;
  color: var(--font-color);
  font-size: var(--font-size);
  container-type: inline-size;
  container-name: clip-root;
  background: var(--image-bg-color);
}

.cta {
  display: flex;
  padding: 15px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid var(--cta-color);
  color: var(--cta-color);
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 14px;
  opacity: 0;
}

.details-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 30px;
}

.info {
  position: relative;
  display: flex;
  width: 350px;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  top: 30px;
}

.text {
  color: var(--text-color);
  opacity: 0;
}

.title {
  font-size: 30px;
  font-weight: 700;
  line-height: 34px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;

}

.subtitle {
  font-size: 18px;
  font-weight: 300;
  line-height: 26px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-details {
  display: flex;
  width: 390px;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  position: absolute;
  bottom: 30px;
}

.product-description {
  width: 230px;
  min-width: 230px;
  max-width: 260px;
  flex-shrink: 0;
  overflow: hidden;
  color: var(--product-text-color);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
}

.price-wrapper {
  color: var(--product-text-color);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 9px;
  font-size: 16px;
}

.new-price {
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
}

.old-price {
  font-style: normal;
  font-weight: 300;
  line-height: 16px;
  text-decoration-line: line-through;
  opacity: 0.5;
}

.info-wrapper {
  width: 450px;
  height: 100%;
  background: var(--text-bg-color);
  position: absolute;
  left: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.products-bg{
  width: 900px;
  height: 600px;
  background: var(--image-bg-color);
  position: absolute;
  top: 0;
  left: 0;
}

.products {
  width: 450px;
  height: 600px;
  background: var(--image-bg-color);
  position: absolute;
  left: 0;
}

.product-wrapper {
  position: absolute;
  height: 600px;
  background: var(--image-bg-color);
  right: 0px;
  width: 0;
  overflow: hidden;
}


.product {
  position: absolute;
  right: 0;
  width: 450px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.abstract-lines1-wrapper {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 0;
  overflow: hidden;
  transform-origin: top left;
  stroke: var(--cta-color);
}

img {
  width: 450px;
  height: 450px;
  position: absolute;
  top: 50px;
  object-fit: var(--image-positioning);
}

.abstract-lines2-wrapper {
  width: 0;
  overflow: hidden;
  stroke: var(--cta-color);
}

@media (max-width: 768px) and (aspect-ratio < 1){
  .cta{
    display: flex;
    padding: 11.683px 15.577px;
    align-self: stretch;
    font-size: 10px;
  }


.products-bg{
  position: absolute;
  width: 350px;
  height: 350px;
  left: 350px;
  transform-origin: 0 0;
  transform: rotate(90deg) scaleX(1.8);
}

  .products {
    width: 350px;
    height: 300px;
    background: var(--image-bg-color);
    position: absolute;
    left: 0;
    top: 0;
  }

  img{
    width: 230px;
    height: 230px;
    top: 5px;
  }
  .product-wrapper {
    position: absolute;
    height: 300px;
    background: var(--image-bg-color);
    right: 0px;
    width: 0;
    overflow: hidden;
  }
  .product {
    position: absolute;
    right: 0;
    width: 350px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .info-wrapper{
    width: 350px;
    height: 350px;
    position: absolute;
    top: 300px;
    left: 0px;
    justify-content: flex-start;
    padding-top: 24px;
  }

  .info{
    width: 302px;
  }

  .title{
    font-size: 23px;
    line-height: 26px;
  }
  .subtitle{
    font-size: 14px;
    line-height: 20px;
  }

  .abstract-lines1-wrapper{
    top: 24px;
    left: 24px;
    transform: scale(0.5);
  }

  .product-details {
    width: 302px;
    bottom: 18px;
  }

  .product-description{
    width: 180px;
    height: 30px;
    min-width: 180px;
    max-width: 202.507px;
    font-size: 11px;
  }
  .price-wrapper{
    gap: 9px;
    font-size: 13px;
  }

}
