* {
 
  --font-color: {{ initParams.fontColor }};
  --background-color: {{ initParams.backgroundColor }};
  --primary-color: {{ initParams.primaryColor }};
  --secondary-color: {{ initParams.secondaryColor }};
  /*
    This is an example of how to use MotorCortex's init params in css, using a css variable
      if you are unfamiliar with css variables here is a quick guide https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties#basic_usage
  */
}

.container {
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
height: 100%;
color: var(--font-color);
background-color: var(--background-color);
font-family: 'Inter', sans-serif;
font-weight: 900;
}

.absolute-flex{
  position: absolute;
  display: flex;
  overflow: hidden;
}

.text-wrapper{

  height: 29px;
  left: 122px;
  top: 63px;
  font-size: 24px;
  color: var(--secondary-color);
}

.tex-letter{
  position: relative;
  top: 100%;
}

.secondaryText-wrapper{
  left: 26px;
  top: 90px;
  height: 53px;
}

.secondaryText-letter,.secondaryText-letter{
  position: relative;
  top: 100%;
}
.secondaryText-letter{
  color: var(--primary-color);
  font-size: 44px;
}

.cta-wrapper{
  position: absolute;
  width: 158px;
  height: 41px;
  left: 115px;
  top: 158px;
  overflow: hidden;
  display: flex;
  justify-content: center; 
  align-items: center;
}

.cta{
  position: absolute;
  width: 158px;
  height: 31px;
  top: 158px;
  background: var(--primary-color);
  box-shadow: 0px 0px 5px -1px #000000;
  border-radius: 148px;
  color: var(--font-color);
  display: flex;
  justify-content: center; 
  align-items: center;
}

.left-ball {
  position: absolute;
  width: 155px;
  height: 152px;
  left: -51px;
  top: 169px;
  background: var(--primary-color);
  border-radius: 50%;
}

.right-ball {
  position: absolute;
  width: 220px;
  height: 216px;
  left: 480px;
  top: -39px;
  background: var(--primary-color);
  border-radius: 50%;
}

.offer-wrapper{
  width: 137px;
  height: 137px;
  left: 545px;
  top: 120px;
  background: var(--secondary-color);
  border-radius: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 42px;
}

.offer-percentage{
  font-size: 40px;
  color: var(--primary-color);
}
.offer-text{
  font-size: 53px;
  color: var(--primary-color);
}

.product-wrapper{
  position: absolute;
  width: 271px;
  height: 290px;
  left: 374px;
  top:0px;
}

.product-image{
  width: 271px;
  height: 271px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.line-1{
  position: absolute;
  left: 22.7%;
  right: 62.27%;
  top: 9.66%;
  bottom: 87.59%;
}

.line-2{
  position: absolute;
  left: 22.84%;
  right: 62.27%;
  top: 84.14%;
  bottom: 13.1%;
}
.polygon-1{
  position: absolute;
  width: 26px;
  height: 25px;
  left: 69.51px;
  top: 44.83px;
}

.polygon-2{
  position: absolute;
  width: 26px;
  height: 25px;
  left: 58.91px;
  top: 244.29px;
}
.polygon-3{
  position: absolute;
  width: 26px;
  height: 15.69px;
  left: 344.4px;
  top: 195px;
}
.polygon-4{
  position: absolute;
  width: 26px;
  height: 15.69px;
  left: 635.97px;
  top: 52px;
}