* {
 
  --font-color: {{ initParams.fontColor }};
  --background-color: {{ initParams.backgroundColor }};
  --primary-color: {{ initParams.primaryColor }};
  --secondary-color: {{ initParams.secondaryColor }};
  /*
    This is an example of how to use MotorCortex's init params in css, using a css variable
      if you are unfamiliar with css variables here is a quick guide https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties#basic_usage
  */
}

.container {
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
height: 100%;
color: var(--font-color);
background-color: var(--background-color);
font-family: 'Poppins', sans-serif;
font-weight: 900;
}

.absolute-flex{
  position: absolute;
  display: flex;
  overflow: hidden;
}

.text-wrapper{
 
  left: 26px;
  top: 0px;
  font-size: 24px;
  color: var(--secondary-color);
  flex-direction: column;
}

.tex-loop{
  position: relative;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  -webkit-text-stroke-width: 2px;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: var(--font-color);
  color: transparent;
  line-height: 37px;
 
}

.secondaryText-wrapper{
  flex-wrap: wrap;
  height: 89px;
  left: 357px;
  top: 22px;
  width: 227px;
}

.secondaryText-letter,.secondaryText-letter{
  position: relative;
}
.secondaryText-letter{
  color: var(--font-color);
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    position: relative;
    line-height: 44px;
}

.cta-wrapper{
  position: relative;
  width: 165px;
  height: 41px;
  overflow: hidden;
  display: flex;
  justify-content: center; 
  align-items: center;
}

.cta{
  position: absolute;
  width: 158px;
  height: 31px;
  top: 158px;
  border: 2px solid var(--primary-color);

  border-radius: 148px;
  color: var(--primary-color);
  display: flex;
  justify-content: center; 
  align-items: center;
}

.left-ball {
  position: absolute;
  width: 72px;
  height: 72px;
  left: 0px;
 
  background: var(--primary-color);
  border-radius: 50%;
}

.center-ball {
  position: absolute;
  width: 124px;
  height: 124px;
  left: 285px;
  top: 0px;
  background: var(--primary-color);
  border-radius: 50%;
}

.offer-wrapper{
  position: relative;
  background: var(--secondary-color);
  font-size: 40px;
  line-height: 32px;
  justify-content: center;
  align-items: center;
  height: 32px;
}



.product-wrapper{
  position: absolute;
  width: 155px;
  height: 140px;
  left: 53px;
  top:0px;
}

.product-image{
  width: 140px;
  height: 140px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.cta-offer-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  left: 680px;
  top: 30px;
  gap:15px
}

.right-ball{
  position: absolute;
  width: 128px;
  height: 128px;
  background: var(--primary-color);
  border-radius: 50%;
}